<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cat_Up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,180}</string>
                <key>spriteSourceSize</key>
                <string>{135,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cat_Up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,180}</string>
                <key>spriteSourceSize</key>
                <string>{135,180}</string>
                <key>textureRect</key>
                <string>{{138,1},{135,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cat_Up.png</string>
            <key>size</key>
            <string>{274,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f2a90a17e2191d8214595d66cbd1dc3:66ee98552094feee3bff98b19070bd69:c7727320a1694cc664b0ffa50fd355c4$</string>
            <key>textureFileName</key>
            <string>Cat_Up.png</string>
        </dict>
    </dict>
</plist>
