<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cat_Left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,162}</string>
                <key>spriteSourceSize</key>
                <string>{189,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cat_Left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,162}</string>
                <key>spriteSourceSize</key>
                <string>{189,162}</string>
                <key>textureRect</key>
                <string>{{192,1},{189,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cat_Left.png</string>
            <key>size</key>
            <string>{382,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d880ca413925e980bfb8c4bd7f982c45:374516b04b78397942821e11993a27fe:8c4fb83c9a2af48f6c96ad0357d0e5a1$</string>
            <key>textureFileName</key>
            <string>Cat_Left.png</string>
        </dict>
    </dict>
</plist>
