<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cow_Left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,162}</string>
                <key>spriteSourceSize</key>
                <string>{243,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_Left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,162}</string>
                <key>spriteSourceSize</key>
                <string>{243,162}</string>
                <key>textureRect</key>
                <string>{{246,1},{243,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cow_Left.png</string>
            <key>size</key>
            <string>{490,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71053caf38a9a1e8861c2614155c67e2:8f82b92da1691cb7a2f4d6a211e47bde:a699490c5f914fd97a1c355cb32e5d12$</string>
            <key>textureFileName</key>
            <string>Cow_Left.png</string>
        </dict>
    </dict>
</plist>
