<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pig_Right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,180}</string>
                <key>spriteSourceSize</key>
                <string>{279,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{279,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pig_Right_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,180}</string>
                <key>spriteSourceSize</key>
                <string>{279,180}</string>
                <key>textureRect</key>
                <string>{{282,1},{279,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pig_Right.png</string>
            <key>size</key>
            <string>{562,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef52f16dd9b21633080a1a44001bf809:8b5c38ec176d9f4c19d138516ccebee0:06c0c3d96cc42faa97641e342278eca4$</string>
            <key>textureFileName</key>
            <string>Pig_Right.png</string>
        </dict>
    </dict>
</plist>
