<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pig_Left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,180}</string>
                <key>spriteSourceSize</key>
                <string>{279,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{279,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pig_Left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,180}</string>
                <key>spriteSourceSize</key>
                <string>{279,180}</string>
                <key>textureRect</key>
                <string>{{282,1},{279,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pig_Left.png</string>
            <key>size</key>
            <string>{562,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bea32e60930994844776cc613c1d9e7:c06fe24994fd662e5c2dc1c80bdda637:633b4e93cb328dab58306782da130ee1$</string>
            <key>textureFileName</key>
            <string>Pig_Left.png</string>
        </dict>
    </dict>
</plist>
