<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pig_Up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,198}</string>
                <key>spriteSourceSize</key>
                <string>{189,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pig_Up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,198}</string>
                <key>spriteSourceSize</key>
                <string>{189,198}</string>
                <key>textureRect</key>
                <string>{{192,1},{189,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pig_Up.png</string>
            <key>size</key>
            <string>{382,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1376f948c883012d0040cf0972f0a9f9:3b90e089f2b79426384d0c18a6cf1456:94f61ab15ba73eee2173944b707741e6$</string>
            <key>textureFileName</key>
            <string>Pig_Up.png</string>
        </dict>
    </dict>
</plist>
