<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sheep_Up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sheep_Up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{192,1},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sheep_Up.png</string>
            <key>size</key>
            <string>{382,191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e54e919c159b179a0875668db22dbe72:dbb6a4655119e340088059b7fc86c9a7:4cba8cd01b9ce2a638030a4c5ca6a734$</string>
            <key>textureFileName</key>
            <string>Sheep_Up.png</string>
        </dict>
    </dict>
</plist>
