<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk_Down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,243}</string>
                <key>spriteSourceSize</key>
                <string>{108,243}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_Down_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,243}</string>
                <key>spriteSourceSize</key>
                <string>{117,243}</string>
                <key>textureRect</key>
                <string>{{108,0},{117,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Walk_Down.png</string>
            <key>size</key>
            <string>{225,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15290bf6a590f6a950eb34ed827cd6bf:c4d23fa66176a9233dfe8ef6ad52516f:f9bd43ca43d8079ecc3aecca8a5dea1e$</string>
            <key>textureFileName</key>
            <string>Walk_Down.png</string>
        </dict>
    </dict>
</plist>
